@media screen and (max-width: 1150px){
    .roadmap{
        width: 80vw;
    }

    .roadmap .checkpoint{
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;

    }
    /* line */
    .roadmap .checkpoint::before{
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    /* dot */
    .roadmap .checkpoint div::before{
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }

    .about{
        padding: 3em;
    }

    .about-details{
        flex-direction: column;
    }

    .about-detail-text-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .heroes-text-heading img{
        display: none;
    }

    .heroes-image{
        display: none;
    }

    .heroes{
        padding-top:0.2rem ;
    }

    .heroes-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left:0rem ;
    }
    .heroes-text-para{
        padding:0  2em 0 2em;
    }

    .work-grid-image img{
        height: 15em;
        margin: 1em;
    }

    .monkey{
        height: 15em;
        margin: 1em;
    }
    .heroes-text-heading{
        font-size: 40px;
    }

}



@media screen and (max-width: 1000px){
    .collection-image{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .creators-grid{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .monkey{
        margin-top: 7em;
    }
    .Moneyguy{
        margin-top: 7em;
    }
    .work-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:1em;    
    }
    .work-grid-image img{
        height: 18em;
    }
    .wallet-text{
        order: 1;
    }
    .monkey{
        order: 2;
    }
    .monkey-text{
        order: 3;
    }
    .Moneyguy{
        order: 4;
    }
    .Moneyguy-text{
        order: 5;
    }
    .footer-text{
        display: none;
    }
    .searchbar{
        width: 30em;
    }
    .footer-heading{
        font-size: 2.5em;
    }
}


@media screen and (max-width: 700px){
    .collection-image{
        display: flex;
        flex-direction: column;
    }
    .creators-grid{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .about-details-image{
        grid-template-columns:200px 200px ;
        grid-template-rows:200px 200px;
    }
    .about-details{
        gap:1em;    
    }
    .searchbar{
        width: 20em;
    }
    .footer-heading{
        font-size: 2em;
    }
    .ceators-card{
        width: 175px;
    }
    
}

@media screen and (max-width:600px) {

    .nav-link{
        display: none;
    }
    .nav-bar{
        justify-content: space-between;
        padding:0 1em 0 1em;
    }
    .searchbar{
        width: 18em;
    }
    
    
}

@media screen and (max-width:500px) {
    .about-details-image{
        display: flex;
        flex-direction: column;
    }
    .heroes-stats{
        gap: 3em;
        width: 20em;
    }
    .work-grid-text p {
        display: none;
    }

    .work-grid-text h2{
        width: 10em;
        text-align: center;
    }
}