*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-x: hidden;

}
.nav-bar{
    height: 60px;
    background-color: #131921;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo{
    font-weight: 700;
    font-size: small;
}

.inner-nav-bar{
    display: flex;
    gap : 50px;
}
.nav-link{
    font-size: 0.7rem;
    display: flex;
    align-items: center;
}

.sign-in{
    display: flex;
    font-size: .7em;
    justify-content: center;
    align-items: center;
    background-color:#DA914E ;
    border: white 0.5px solid;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.heroes{
    height: 750px;
    background-image: url("./Frontend/assets/bg.svg");
    background-size: cover;
    display: flex;
    color: white;
    padding-top: 10rem;
}

.heroes-text-heading{
    font-size: 60px;
    font-weight: bold;
}

.heroes-text-para{
    font-size: smaller;
    padding-top: 2rem;
}


.heroes-text-heading img{
    height: 50px;
    display: inline-block;
}


.content-left{
    padding-left:10rem;
}

.content-right{
    padding-right:10rem;
}


.heroes-text-button{
    display: flex;
    gap: 2rem;
    font-size: smaller;
    padding-top:2.5rem ;
    padding-bottom:2.5rem ;

}

.heroes-button-solid{
    background-color:#DA914E ;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 0.5px solid;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.heroes-button-hollow{
    height: 30px;
    width: 100px;
    border: .2px white solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroes-stats{
    display: flex;
    justify-content: space-around;
    align-items:center;
    gap: 5rem;
    font-size: large;
    line-height: 30px;
    font-weight: lighter;
    background-color: black;
    width: 27rem;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
}

.about-master{
    padding: 2em;
    background-color: #140D07;
}



.about-heading{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    height: 4em;
    font-size: 35px;
    font-weight:bolder ;
    color: white;
    background-color: rgb(0, 0, 0);
}

.about-details{
    display: flex;
    width: 100%;
    gap: 4em;
    justify-content: center;
}

.about-details-image{
    flex: 0 0 34.105em;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:25px;
}

.image-about{
    background-color: #22211F;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.about-detail-text-button{
    color: white;    
    padding-top: 20px;
    font-size:small;
    width: 34.105em;
    font-weight: bold;
    line-height: 20px;
}



.about-details-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#65625D ;
    border: #DA914E 0.5px solid;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    margin-top: 25px;
}

.collection{
    background-image: url("./Frontend/assets/bg.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collection-heading{
    color: white;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collection-image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:10px;

}

.collection-card{
    height: 320px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border: #DA914E 0.5px solid;
    border-radius: 10px;
}

.collection-card-info{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card-info-1{
    color: gray;
    font-size: small;
}

.card-info-2{
    display: flex;
    gap: 5px;
}
.card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}
.circle {
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    background-color: white;
}

.card-info-2-name{
    color: #DA914E;
    font-weight: bold;
    font-size: small;
}

.card-info-3{
    color: white;
    font-size: large;
    font-weight: bold;
}

.card-info-4{
    font-size: small;
    font-weight: bold;
    color: #DA914E;
}

.creators{

    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    gap: 10px;
    
}

.creators-grin-card{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.creators-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;


}

.ceators-card{
    background-color:rgba(255, 255, 255, 0.1);
    width: 200px;
    border-radius: 10px;
    height: 200px;
}

.creators-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    margin: 10px;
}

.number{
    text-align: center;
    align-self: flex-start;
    background-color: rgb(37, 37, 37);
    height: 20px;
    width: 20px;
    border-radius:50% ;
}

.nft-name{
    font-weight: bolder;
    letter-spacing: 2px;
}

.total-sales{
    font-size: small;
    margin-top: 5px;
    letter-spacing: 1px;
}


.roadmap-container{
    background-image: url("./Frontend/assets/bg.svg");
    background-size: cover;
    color: white;
    padding: 2em;
}

.roadmap::before{
   content: '';
   background: rgba(0, 0, 0, .7);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: -1;
   position: fixed;
}

h3{
    margin: .3em;
    font-size: 1em;
    text-align: center;
}

h2{
    margin-bottom: 1.5em;
}

.roadmap{
    margin: 5em auto;
    max-width: 34.15em;
}

.checkpoint{
    max-width: 34em;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div{
    border: 2px solid gray;
    border-radius: 1em;
    padding: 1.5em;
}

.checkpoint p{
    line-height: 27px;
    color: #ccc;
}

.checkpoint:nth-child(odd){
    border-left: 3px solid #888;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even){
    border-right: 3px solid #888;
    padding-right: 3em;
    transform: translateX(-17em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 3em;
    height: 3px;
    background: transparent;
    border-top: 3px dashed #888;
    border-right: none;
    border-bottom: none;
    transform: translateY(-50%);
    transform-origin: center center;
    right: -20px;
}


.checkpoint:nth-child(odd)::before{
    left: 0;
}

.checkpoint:nth-child(even)::before{
    right: 0;
}

.checkpoint:nth-child(odd) div::before{
    content: '';
    background: #E3E0CF;
    box-shadow: 0 0 0.5em #E3E0CF;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(even) div::before{
    content: '';
    background: #DA8F4C;
    box-shadow: 0 0 0.5em #DA8F4C;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before{
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before{
    right: -0.5em;
}


.work{
    padding: 10em;
    background-color: black;
}
.work-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
}
.work-grid-image{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-25%);
}

.work-grid-image img{
    height: 30em;
    
}

.monkey div{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10%;
}

.monkey img{
    height: 17em;
}

.footer{
    color: white;
    background-image: url("./Frontend/assets/bg.svg");
    background-size: cover;
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.footer-heading{
    font-size: 3em;
    font-weight: bolder;
}

.footer-text{
    padding:0  23em 0 23em;
}

.footer-search{
    display: flex;
    height: 2.5em;
    gap: 1em;
}

.searchbar{
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: gray;
    font-size: small;
    width: 50em;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
}

.Join-now-button{
    width:10em;
    font-size: x-small;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.01em #DA8F4C solid ;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px;
}

.footer-copyright{
    font-weight: lighter;
    color: gray;
    word-spacing: 2px;
    font-size: x-small;
}


.checker{
    height: 3em;
    background-color: yellowgreen;
}